* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI";
  height: 100dvh;
  display: grid;
  place-content: center;
  background-color: rgb(250, 250, 250);
}

.wrapper {
  width: 750px;
  max-width: 90dvw;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;

  #add-lives {
    position: relative;
    left: 6px;
  }

  .damage,
  .heal {
    font-weight: bold;
    font-family: monospace;
    position: absolute;
    bottom: 0;
    animation: fly 0.5s ease-in-out;
  }

  .heal {
    color: forestgreen;
  }

  .damage {
    color: firebrick;
  }
}

@keyframes fly {
  0% {
    translate: 0;
  }

  100% {
    translate: 0 -1.5rem;
  }
}

.info-bottom {
  margin: 0.5rem 0;
  display: flex;
  gap: 1rem;
  font-weight: 500;

  #reset {
    color: firebrick;
    cursor: pointer;
  }
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 10px;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 4px;
}

progress::-webkit-progress-value {
  background-color: forestgreen;
  border-radius: 4px;
}

progress.med::-webkit-progress-value {
  background-color: orange;
}

progress.low::-webkit-progress-value {
  background-color: firebrick;
}

.box {
  border: 2px solid black;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: white;
}

#letters {
  color: rgba(0, 0, 0, 0.65);
  font-family: monospace;
  font-size: 2.25rem;
  line-height: 3rem;

  span {
    position: relative;
  }

  .cursor {
    padding-bottom: 5px;
    border-bottom: 3px solid black;
  }

  .correct {
    color: forestgreen;
  }

  .wrong {
    background-color: lightcoral;
  }
}

label {
  cursor: pointer;
  translate: 0 -1px;

  input[type="checkbox"] {
    height: 1.1rem;
    width: 1.1rem;
    translate: -1px 4px;
  }
}
